.App {
  text-align: center;
  background-color: #c3cfd3;
}

.NavBar {
  display: flex;
  justify-content: center;
}

.NavBar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.NavBar li {
  margin: 0 1rem;
}

.NavBar li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.NavBarButton {
  padding: 10px 20px;
  background-color: #0074d9;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.NavBarButton:hover {
  background-color: #0062ac;
}

header span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

header span h3:first-child {
  margin-right: auto;
}

header span h3:last-child {
  margin-left: auto;
}

header h3 {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

header a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: #0074d9;
}

header a:hover {
  background-color: #0062ac;
}

button {
  display: block;
  margin: 0 auto;
  padding: 20px;
  background-color: #ddd;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
}

select {
  padding: 10px 20px;
  border-radius: 30px;
  background-color: #3F51B5;
  color: white;
  border: none;
  font-size: 16px;
  outline: none;
  appearance: none;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 20px;
  margin: 0 auto;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  overflow: hidden;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  text-align: center;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 20px rgba(0,0,0,0.19), 0 10px 10px rgba(0,0,0,0.23);
}

.card__image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card__content {
  padding: 20px;
}

.card__title {
  font-size: 24px;
  margin-bottom: 10px;
}

.card__text {
  font-size: 16px;
  color: #999;
  margin-bottom: 20px;
}

.card__detail {
  font-size: 14px;
  color: #333;
}

.card_comment_form button {
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  margin-right: 10px;
}

.card_comment_form button:hover {
  background-color: #0062cc;
  color: #fff;
}

.card_comment_form button:active {
  background-color: #005cbf;
  color: #fff;
}